* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/* Main Styles */
#main__content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#main__content .content__main {
    display: flex;
    flex-direction: column;
}

/* Footer Styles */
.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}